body, html {
    height: 100%;
}

body {
	margin-top: 50px;
}

@media (min-width: 992px) {
	body {
		margin-top: 68px;
	}
	.navbar {
		padding: 0 1rem;
		height: 70px;
	}
	.navbar-nav {
		text-transform: uppercase;
		word-spacing: 5px;
		letter-spacing: 1.5px;
		font-size: 18px;
	}

	.navbar ul > li {
		padding: 0 25px;
	}

	.navbar ul > li > a {
		border-bottom: 1px solid transparent;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
	}

	.navbar ul > li :hover {
		border-bottom: solid 1px;
	}

	.navbar ul > li > a :hover {
		border-bottom: none;
	}

	.navbar-expand-lg .navbar-nav {
    	margin: auto;
    }

    .nav-pills .nav-link.active{
        color: #f6e8d6;
        background-color: inherit;
        font-weight: bold;
        border-bottom: solid 2px;
    }
}

/* SLIDER */

.carousel-inner{
	max-height: 800px;
}

.slide-1 {
    width: 100%;
    height: 80vh;
    max-height: 1200px;
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide-2 {
    width: 100%;
    height: 80vh;
    max-height: 1200px;
    background-image: url('../img/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide-3 {
    width: 100%;
    height: 80vh;
    max-height: 1200px;
    background-image: url('../img/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(51, 51, 51);
}

section {
    padding: 50px 0;
}

section:nth-child(odd) {
  background: #f9f9f9;
}

hr.divider {
    width: 45px;
    height: 3px;
    padding: 0;
    margin: 27px auto 54px;
    background: #b83912;
    border: none;
}

.map-container{
    overflow:hidden;
    padding-bottom:46.25%;
    position:relative;
    height:0;
}

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

footer {
    background-color: #e7e7e7;
    padding: 6px 0;
    font-size: 11px;
    color: #4a4a4a;
    text-align: center;
}

@media (max-width: 650px) {
    footer {
        text-align: left;
        padding: 5px 0 5px 10px;
    }
    .nav-pills .nav-link.active{
        background-color: inherit;
        border-bottom: solid 2px;
    }
}