body{
    background-color: #422d1a;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
@media (min-width: 1600px) {
    .container{
        max-width: 1600px;
    }
}
.content{
    background-color: rgb(245, 219, 185);
    padding: 20px;
}
.container{
    padding: 0;
}
h1, h2, h3, h4, h5{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
header, nav{
    background-color: #331e1e;
    font-family: 'Oswald', sans-serif;
    color: wheat;
    padding: 10px;
}
nav{
    background-color: #201313;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: sticky;
}
.nav-item{
    display: inline;
    margin-right: 50px;
}
.nav-link{
    padding: 0;
}
.nav-box{
    margin: 0 auto;
}
nav a{
    color: wheat;
}
.nav-pills .nav-link.active{
    color: #f6e8d6;
    background-color: inherit;
    font-weight: bold;
}
li{
    list-style: none;
    background-image: url("img/coffee.png");
	background-repeat: no-repeat;
	background-position: left center;
    background-size: 40px;
    margin: 0;
	padding: 10px 0 10px 60px;
}

hr {
    display:block;
    border:0px;
    height:10px;
    background-image:url('img/coffee.png');
    background-size: 40px;
    background-repeat: no-repeat;
    text-align: center;
}   