body{
    background-color: #422d1a;
    font-family: 'Roboto', sans-serif;
}
.content{
    background-color: rgb(245, 219, 185);
    padding: 20px;
}
h1, h2, h3, h4, h5{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
header, nav{
    background-color: #331e1e;
    font-family: 'Oswald', sans-serif;
    color: wheat;
    padding: 10px;
}
nav{
    background-color: #201313;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.nav-item{
    display: inline;
    margin-right: 50px;

}
.nav-box{
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}